{% extends 'sonetrinDefaultBundle::layout.html.twig' %}


{% block content %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>About</h1>
    <p class="lead">All the details what this application is about and who created it.</p>
  </div>
</header>
<hr />

Created By: Alexander Bosse<br />
Copyright 2012
{% endblock content %}
