{% extends 'sonetrinDefaultBundle::layout.html.twig' %}

{% block content %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Search</h1>
    <p class="lead">Browse social networks and find trend indicators now.</p>
  </div>
</header>
<hr />


{% endblock content %}
