{# Button to activate the modal#}
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

{# Idea to include modal#}
{% include 'sonetrinDefaultBundle:Modal:modal.html.twig' with {'header':'header','body':'body','footer':'footer' } %}
    
    